/* Write your custom CSS here */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.btn-small {
    height: 25px;
    line-height: 25px;
    padding: 0px 9px;
}

.btn-small i {
    font-size: 1rem;
}

.text-right {
  text-align: right !important;
}

.text-light {
  font-weight: 300;
}

.text-grey {
  color:#ccc;
}

.text-grey {
  color:#fff;
}

.modal .modal-header, .modal .modal-footer h4{
    padding: 20px 10px;
    padding-bottom: 0px;
    position: relative;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    background: #fafafa;
}

.modal .modal-header h4, .modal .modal-footer h4 {
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
}

.modal .modal-header h4,.modal .modal-footer h4 {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    font-weight: 700;
}
.modal .modal-header h4.modal .modal-footer h4 {
    text-transform: uppercase;
}
